@use '_custom.scss' as *;
@use '_reset.scss' as *;

.container {
  min-height: 100vh;
  padding: 0 28.5px 0 28.5px;
  padding-bottom: 28.5px;
}
.separator {
  height: 74px;
}

.btn-accept {
  background-color: $status-green;
  color: $white;
  height: 30px;
  border-radius: 15px;
  padding: 2px 15px;
  border: none;
  font-weight: 600;
}
