$black: #180f0a;
$dark-blue:#001125;
$brown-ligth: #f2bc79;
$brown: #a67951;
$brown-dark: #392522;
$intense: #bf3326;
$status-green: #2a9d8f;
$status-orange: #f4a261;
$status-red: #e76f51;
$white-t: rgba(255, 238, 218, 0.75);
$white: #ffeeda;
$gray: #52473e;

$font-family: 'Poppins', sans-serif;

$max-width: 1200px;
$header-height: 3rem;
