@use '_custom.scss' as *;
@use '_reset.scss' as *;

.contact__display {
  // background-color: $brown-ligth;
  height: 65vh;
  margin-top: 50px;
  display: flex;

  aside {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contact__icons-column {
  // background-color: $black;
  height: 100%;
  width: 30%;
  color: $black;

  font-size: 20px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &:last-child {
    width: 0;
  }
}

.contact__icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
  fill: $black;

  &:hover {
    scale: 1.2;
    transition: 0.25s ease-in-out;
  }

  &.active {
    fill: $intense;
  }
}

.contact__main-icon {
  height: 80px;
  width: 80px;
  fill: $intense;

  position: relative;
  animation-name: shown;
  animation-duration: 0.25s;
}

.contact__name {
  font-size: 30px;
  font-weight: 800;
  color: $intense;
}

.contact__black-line {
  width: 2px;
  height: 60px;
  background-color: $black;
  border-radius: 1px;
  color: transparent;
}

.contact__user-name {
  color: $status-green;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

@keyframes shown {
  from {
    right: var(--x);
    top: var(--y);
    height: 40px;
    width: 40px;
  }
  to {
    right: 0px;
    top: 0;
    height: 80px;
    width: 80px;
  }
  // 80%{right: -10px;}
  // 100% {right:0}
}
