@use '_custom.scss' as *;
@use '_reset.scss' as *;

.nav-bar {
  height: 45px;
  background-color: $white;
  margin: 15px;
  border-radius: 22.5px;
  min-width: 320px;
  max-width: 100%;
  transition: background 0.1s ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 15px;

  &.active {
    background-color: $black;
    transition: background 0.1s ease-in-out;
  }
}

.nav-bar__icon {
  margin: 7.5px;
  background-color: transparent;
  border: none;
  color: $white;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &.icon-highlighted {
    background-color: $status-green;
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }
  &.active {
    path {
      fill: $black;
      transition: fill 0.1s;
    }
  }
  path {
    fill: $white;
    transition: fill 0.1s;
  }

  &.icon-selected {
    path {
      fill: $brown-ligth;
    }
  }
}
