@use '../styles/_styles.scss' as *;
@use '../styles/_custom.scss' as *;
@use '../styles/_reset.scss' as *;

.projects__container {
  margin: 15px;
  margin-top: 30px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 2;
}
#engineer {
  position: relative;
  color: $black;
}
// .engineer__img {
//   width: 100vw;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   right: 0;
//   z-index: -1;
//   background-image: url('../assets/img/engineer-2.jpg');
//   background-size: cover;
//   background-position: center;
//   background-attachment: fixed;
//   // filter: sepia() brightness(0.5) contrast(0.5);
// }

.modal-eng__sub {
  //REFACTOR --> This could be a scss component
  width: 100%;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
}

.modal-eng__title {
  width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}
.modal-eng__caption {
  width: 100%;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-eng__img {
  border-radius: 10px;
}

@media screen and (min-width: 720px) {
  .projects__container {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
  }
}
