@use '../styles/_styles.scss' as *;
@use '../styles/_custom.scss' as *;
@use '../styles/_reset.scss' as *;

.small-p {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 0;
}

.title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.15em;
  line-height: 1em;
  z-index: 20;
  position: relative;
}

.single-p {
  margin-top: 5px;
  letter-spacing: 0.7em;
  font-weight: 500;
}

.normal-p {
  color: $gray;
}

#home {
  display: flex;
  justify-content: left;
  gap: 100px;
}
.home__img {
  img {
    margin-top: 40px;
    border-radius: 0px 0px 35% 60% / 30%;
    width: 400px;
  }
}
