@use '../styles/_styles.scss' as *;
@use '../styles/_custom.scss' as *;
@use '../styles/_reset.scss' as *;

.lang__button {
  height: 44px;
  width: 80px;
  border-radius: 22px;
  background-color: $black;
  padding: 2px;
  z-index: 1000;
  position: fixed;
  bottom: 18px;
  right: 18px;

  display: flex;
  justify-content: space-between;
}

.lang__option {
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: $white;
  font-weight: 600;
  letter-spacing: 0.25px;
  cursor: pointer;

  &.active {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: $white;
    color: $black;
    transform: rotate(1turn);
    transition: transform 0.5s ease-in-out;
  }
}
